.banner-container
  .banner
    %h1 Better Content, Made Simple
    %p.lead We make blogging simple so you can focus on the content.

.marketing-section.row
  .span3.offset3
    = link_to "Try It Out", "#try-it", class: "try-it btn btn-large btn-block btn-info"
  .span3
    = link_to "Reserve Your Spot", "#", class: "btn btn-large btn-block btn-success"

.marketing-section.small.text-center
  %h2#try-it Try It Out
  %p Select text to edit

.marketing-section.content-editable
  %h1 Test Blog Title

  %p Fusce consectetur dapibus nulla vel vulputate. Fusce suscipit augue volutpat leo rutrum, nec mattis elit ultrices. Donec tincidunt nunc sed odio vestibulum, in semper erat tempor. Nulla a sapien ac velit aliquam pellentesque in non velit. Etiam eget velit sit amet quam lacinia faucibus sit amet nec justo. Etiam in libero semper, blandit sem id, molestie felis. Nulla elementum, odio non bibendum adipiscing, libero urna lobortis risus, vel condimentum neque felis id libero. Sed vitae feugiat sapien. Mauris tristique massa velit. Vivamus feugiat rhoncus semper. Nulla leo erat, vulputate vel neque eget, sollicitudin congue enim. Nullam quis luctus ligula. Donec tortor risus, feugiat a hendrerit quis, posuere vel justo. Praesent porta nunc a placerat tristique.

  %p Sed aliquam, libero et congue varius, nisi justo consectetur erat, in ullamcorper elit felis id odio. Maecenas porttitor orci mi, ac congue ipsum auctor eget. Vivamus ultrices feugiat eros, dictum feugiat magna fermentum nec. Vestibulum tincidunt imperdiet pellentesque. Nullam malesuada iaculis suscipit. Phasellus consectetur risus ac diam sollicitudin, scelerisque pellentesque felis facilisis. Quisque aliquam arcu vel justo tempus, ac viverra lectus congue. Praesent id velit suscipit, molestie nisl a, pharetra leo. Etiam semper interdum vestibulum. Phasellus et tincidunt tellus. Phasellus venenatis ligula lectus, et mattis leo sodales vel. Nam faucibus, mi at tristique cursus, lectus sapien imperdiet nunc, lobortis elementum risus elit eget odio.
