.banner-container
  .banner
    %h1 Better Content, Made Simple
    %p.lead We make blogging simple so you can focus on the content.

.marketing-section.row
  .span3.offset3
    = link_to "Try It Out", "#try-it", class: "try-it btn btn-large btn-block btn-info", contenteditable: false
  .span3
    = link_to "Reserve Your Spot", "#reserve", class: "btn btn-large btn-block btn-success", contenteditable: false

.marketing-section.small
  %h2 Dead Simple Content Management
  %p.lead We make it effortless for you to post your content.  Never write another line of markdown! Create and edit your content in plain english by simply selecting the text.  Try it out now!

.marketing-section.small
  %h2 We Host It For You
  %p.lead Never worry about web hosting again!  We will host all of your blogs for you.  Want your own domain?  No worries, we can do that too!

.marketing-section.small
  %h2 Flawless Social Integration
  %p.lead Built in integration with all of the big social networks.  We make it easy to share your content.

.marketing-section
  %h2 Email Newsletter
  %p.lead We make it easy to add an email newsletter.  Allow users to sign up to receive your content by email.

%hr

.marketing-section.small#reserve
  %h2 Reserve Your Spot
.marketing-section

